.centrar {
    text-align: center;
}

div.container button {
    padding: 1em;
    margin-left: 20px;
}

div.container.centrar {
    margin-top: 5%;
}

.informacion {
    border-bottom: 2px solid green;
    
}

/* Boton desplegable*/
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .collapsible-no-back {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .collapsible-no-back:hover {
    background-color: rgb(250, 250, 250);
  }

  .collapsible:after {
    content: '\25BE'; 
    font-size: 20px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\25B4"; 
  }
  
  .cita {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .centro {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }