#loginbtn {
    padding-left: 1%;
    padding-right: 1%;
}

.container-fluid.textoCabecera {
    text-align: center;
}

.textoCabecera {
    color: white;    
}

#soloRes {
    width: 0%;
    height: 0%;
    visibility: hidden;
}

span {
    word-wrap: break-word;
}

#contraMal {
    display: none;
}

#sinContra {
    display: none;
}

/* @media */
@media(max-width: 1130px) {
    .textoCabecera{
        display: none;
    }
}

@media(max-width: 400px) {
    #casa {
        display: none;
    }

    #soloRes {
        width: auto;
        height: auto;
        visibility: visible;
    }
}